// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,600|Roboto+Condensed:400,700|Source+Sans+Pro');

// Colors
$color-main: #212121;
$color-primary: #3273dc;

// Bulma
$desktop: 900px;
$widescreen: 1050px;
$link: $color-primary;
$family-serif: 'Source Sans Pro', sans-serif;
$family-primary: $family-serif;

$navbar-item-hover: $color-primary;
