// Variables
@import "variables";
// Frameworks
@import "~bulma";
@import "~font-awesome/scss/font-awesome";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 12.5rem;
}

.documentation{
  padding: 6rem 3rem;
}

img.logo {
  height: 45px;
  max-height: none;
}

.navbar {
  border-bottom: solid 1px #ced4da;
  padding: 0 15px;
  a.navbar-item:hover {
    background: none;
  }
}

.title {
  color: $color-main;
}

.section h2:not(:first-child) {
  margin-top: 1.1428em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem 1.5rem;
  border-top: solid 1px #ced4da;
  max-height: 12.5rem;
  p {
    margin-bottom: 10px;
  }
}

.landing {

  .head {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  pre {
    background: none;
    color: #ffffff;
  }

  code {
    padding: 10px 15px;
  }

  .level {
    padding-top: 40px;

    .title {
      padding-top: 10px;
    }
  }

}


